@use "../global/vars";

body, input, textarea, button {
  font-family: vars.$f-family;
  font-weight: vars.$f-weight;
  color: vars.$f-color;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: vars.$f-weight-bold;
}

p, a, div, button, input, textarea, select, ul, ol {
  font-size: vars.$f-size;
}

pre, code {
  font-family: vars.$f-family-mono;
  font-size: vars.$f-size-mono;
  font-weight: vars.$f-weight;
}
