@import "../global/vars";

body, input, textarea, button {
  font-family: $f-family;
  font-weight: $f-weight;
  color: $f-color;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: $f-weight-bold;
}

p, a, div, button, input, textarea, select, ul, ol {
  font-size: $f-size;
}

pre, code {
  font-family: $f-family-mono;
  font-size: $f-size-mono;
  font-weight: $f-weight;
}
