@use "../global/vars";

$spacing: calc(0.5 * vars.$s-unit);

.typography {
  h1, h2, h3, h4, h5, h6, h7 {
    &:not(:first-child) {
      padding-top: $spacing;
    }
  }

  h1, h2, h3, h4, h5, h6, h7, p, img, ul, ol, table {
    &:not(:last-child) {
      margin-bottom: $spacing;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1.00em;
  }

  ul {
    margin-left: calc(vars.$s-unit);
  }

  ol {
    margin-left: calc(2 * vars.$s-unit);
  }

  ul li::marker {
    content: '-';
  }

  ol, ul {
    li {
      padding-left: calc(0.5 * vars.$s-unit);

      &::marker {
        color: vars.$c-primary;
        font-weight: vars.$f-weight-bold;
      }
    }
  }

  code {
    display: inline-block;
    background-color: vars.$c-page;
    padding: calc(0.2 * vars.$s-unit) calc(0.4 * vars.$s-unit);
    border-radius: calc(0.4 * vars.$s-unit);
  }
}

.typography a, a.typography {
  &:not(:has(code)), code {
    color: vars.$f-color;
    outline: none;
    text-decoration: none;
    border-bottom: calc(.15 * vars.$s-unit) solid vars.$c-primary;

    &:hover {
      background-color: vars.$c-primary;
      color: vars.$c-secondary;
    }
  }

  code {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.typography li:has(a), li:has(a.typography) {
  margin-bottom: 0.2rem;
}
