<div class="hero">
  <h1>Feel</h1>
</div>

<div class="typography card">
  <p>Feel is an <a href="https://angular.io" target="_blank">Angular</a> component library.</p>
</div>

<feel-flex-grid [minWidth]="'28rem'">
  <div class="card">
    <app-icon-style class="icon"/>
    <div class="typography">
      <h1>Style</h1>
      <p>is the base required for all projects, it provides all necessary css variables and automatic dark mode.</p>
    </div>
  </div>
  <div class="card">
    <app-icon-notification class="icon"/>
    <div class="typography">
      <h1>Notification</h1>
      <p>is a simple toast like notification system.</p>
      <feel-button (click)="notificationExample()" label="Example"/>
    </div>
  </div>
  <div class="card">
    <app-icon-keyboard class="icon"/>
    <div class="typography">
      <h1>Form</h1>
      <p>provides form components, e.g. a Button, a Textfield and a Checkbox</p>
    </div>
  </div>
  <div class="card">
    <app-icon-dashboard class="icon"/>
    <div class="typography">
      <h1>Layout</h1>
      <p>contains utilities for placing groups of element. Have a look at this grid while changing the window width.</p>
    </div>
  </div>
</feel-flex-grid>

<div class="typography card">
  <h2>Usage</h2>
  <ol>
    <li>Add<code>&#64;feel:registry=https://git.offsetting.dev/api/packages/offsetting/npm/</code> to your
      <code>.npmrc</code>.
    </li>
    <li>Install styling base using <code>pnpm add &#64;feel/style</code>.</li>
    <li>Add <code>node_modules/&#64;feel/style/main.scss</code> as an additional stylesheet in your
      <code>angular.json</code></li>
    <li>Add <code>node_modules/&#64;feel/style/global</code> to the global style imports.</li>
    <li>Include<code>&#64;import "theme"; &#64;include theme();</code>into your base stylesheet.</li>
  </ol>
</div>

<router-outlet/>

<feel-notification-list></feel-notification-list>


<feel-form-dropdown label="DropDown Menus">
  <option disabled selected value> -- select a framework -- </option>
  <option>Angular</option>
  <option>React</option>
  <option>GMX</option>
</feel-form-dropdown>
