@use "../../../feel/style/global/_vars.scss";

:host {
  display: flex;
  flex-direction: column;
  gap: vars.$s-unit;
  padding: vars.$s-padding;
  max-width: vars.$s-content;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(3 * vars.$s-unit) 0;

  h1 {
    font-size: calc(6 * vars.$s-unit);
  }
}

.card {
  background-color: vars.$c-card;
  border: calc(0.15 * vars.$s-unit) solid vars.$c-card-secondary;
  padding: vars.$s-padding;
  border-radius: calc(0.4 * vars.$s-unit);

  display: flex;
  gap: calc(1 * vars.$s-unit);

  .icon {
    min-width: calc(5 * vars.$s-unit);
    min-height: 100%;
  }
}
