$c-primary: var(--c-primary);
$c-primary-l: var(--c-primary-l);
$c-primary-d: var(--c-primary-d);

$c-secondary: var(--c-secondary);
$c-secondary-l: var(--c-secondary-l);
$c-secondary-ll: var(--c-secondary-ll);
$c-secondary-d: var(--c-secondary-d);

$c-ternary: var(--c-ternary);
$c-ternary-l: var(--c-ternary-l);
$c-ternary-ll: var(--c-ternary-ll);
$c-ternary-d: var(--c-ternary-d);

$c-gray: var(--c-gray);

$c-good: var(--c-good);
$c-good-l: var(--c-good-l);
$c-good-d: var(--c-good-d);

$c-danger: var(--c-danger);
$c-danger-l: var(--c-danger-l);
$c-danger-d: var(--c-danger-d);

$f-family: var(--f-family);
$f-family-mono: var(--f-family-mono);
$f-size: var(--f-size);
$f-size-small: var(--f-size-small);
$f-size-mono: var(--f-size-mono);
$f-weight: var(--f-weight);
$f-weight-bold: var(--f-weight-bold);
$f-color: var(--f-color);
$f-color-inverted: var(--f-color-inverted);

$s-unit: var(--s-unit);
$s-content: var(--s-content);
$s-padding: var(--s-padding);

$c-page: var(--c-page);
$c-card: var(--c-card);
$c-card-secondary: var(--c-card-secondary);
$c-control: var(--c-control);
$c-control-secondary: var(--c-control-secondary);
$c-control-ternary: var(--c-control-ternary);
