@use "sass:meta";
@use "global/vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: vars.$c-page;
  min-height: 100vh;
}

::selection {
  background-color: vars.$c-primary;
  color: vars.$c-secondary;
}

@include meta.load-css("styles/font");
@include meta.load-css("styles/typography");
